#datetime-picker {
    margin-bottom: 100px;
  }
  .timer {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .field {
    padding: 10px;
    background-color: #000;
    border: #212121 2px solid;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .value {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
  }

  .box{
    display: flex;
    justify-content: center;
    
  }
  
  .label {
    color: #fff;
  
    font-weight: 500;
    font-size: 15px;
  }
  
  .value.end {
    color: #fff;
  }
  .btn {
    border-radius: 8px;
    margin: 0 20px;
    width: 11em;
    height: 50px;
    background-color: rgba(33, 150, 243, 0.8);
    color: #eceff4;
    text-transform: uppercase;
    border: 0;
    box-shadow: 12px 12px 1px 1px rgba(76, 86, 106, 0.2);
    
  }
  
  .btn:disabled {
    margin: 0 20px;
    background: #d8dee9;
    color: #434c5e;
    box-shadow: none;
    cursor: not-allowed;
  }
  
  input {
    height: 50px;
    text-align: center;
    font-size: large;
    border-radius: 8px;
  }
  
  .boxElement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }